.App {
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: cadetblue;
}
.square {
  width: 300px;
  height: 300px;
  background-color: orange;
}

.tombol{
  padding: 10px;
  margin: 10px 20px;
  background-color: indianred;
  border: 1px solid indianred;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.circle:hover {
  background-color: darkcyan;
}

.square:hover{
  background-color: darkorange;
}

.tombol:hover{
  background-color: darkred;
  border-color: darkred;
}